@font-face {
    font-family: PPNue;
    src: url(fonts/659dbdfd5a080be8d348316e_PP\ Neue\ Machina\ Inktrap\ Medium.ttf);
}
@font-face {
    font-family: PPNue2;
    src: url(fonts/659dbdfd5a080be8d348316f_PPNeueMachina_\ Light.ttf);
}

:root{
    --black:#000;
    --white:white;
    --salman:#f3f9a7;
    --dsalman:#261614;
    --cyan:#78ffd6 ;
    --dcyan:#102323;
    --orangeG:  linear-gradient(to right, #fdc830, #f37335);
}

body{
    transition: all ease-in-out 0.5s;
}

.vid{
    
    clip-path: circle(var(--clip) at 50% 50%);
}
.title{
    clip-path: circle(var(--clip) at 50% -25%);
}

*::selection{
    background-color: rgb(236, 150, 141);
}

body[theme="black"]{
    background-color: var(--black);
}
body[theme="black"] .section{
    color: var(--white);
}


body[theme="salman"]{
    background-color: var(--salman);
}
body[theme="salman"] .section{
    color: var(--dsalman);
}

body[theme="orange"]{
    background: var( --orangeG);
}
body[theme="orange"] .section{
    color: var(--dsalman);
}


body[theme="cyan"]{
    background-color: var(--cyan);
}
body[theme="cyan"] .section{
    color: var(--dcyan);
}

body[theme="white"]{
    background-color: var(--white);
}
body[theme="white"] .section{
    color: var(--black);
}
